.block {
  display: block;
  margin: $gap * 2;
  padding: $gap * 2;
  border-radius: $gap;
}

.block-filled {
  @extend .block;

  background-color: $gray-f;
}

.block-outline {
  @extend .block;

  border: 2px solid $gray-f;
}

.block-hover {
  &:hover,
  &:focus,
  &.active {
    background: $gray-f;
  }
}