button {
  cursor: pointer;
  outline: none;
  font-family: $font-body;
}

.btn {
  padding: 0.5em 1em;
  border: 1px solid $gray-f;
  border-radius: 0.5em;
  background-color: $gray-f;
  font-size: 1rem;
  letter-spacing: 0.1em;
}

.btn-primary {
  @extend .btn;

  border-color: $primary;
  background-color: $primary;
  color: $white;

  &:hover,
  &:focus,
  &.active {
    border-color: $black;
    background-color: $black;
  }
}