.flex-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.flex-center-col {
  @extend .flex-center;

  flex-direction: column;
}

.text-center { text-align: center; }