// Colors
$white:       #ffffff;
$gray-f:      #f1f1f1;
$black:       #000000;

$primary:     #00731b;

// Fonts
$font-head:           'Roboto', sans-serif;
$font-body:           'Open Sans', sans-serif;
$font-head-weight:    700;
$font-body-weight:    300;

// Sizes
$gap:           20px;